@model cybertech.Models.CompAssec

<!--
File   : CompAssec/Browse.cshtml
Author : Nisarg, Mansi, Jinal
Date: 2016-08-19
Version History: 1.0.0
Description:  This page is CompAssec Browse page with list of all Details of selected main assec -->

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Browse</h2>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>
                    @Html.ActionLink(product.ProductName, "Description", new { id = product.ProductID })
                </li>
            }
        </ul>
    </div>
</div>