@model cybertech.Models.CompAssec

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse</h2>
<div class="row">
       <div class="col-xs-12 col-md-8">
<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            @Html.ActionLink(product.ProductName, "Description", new { id = product.ProductID })
        </li>
    }
</ul>
</div>
</div>