@model IEnumerable<cybertech.Models.CompAssec>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Copmuter Accessories</h2>
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <table class="table table-condensed">
                <tr>
                    <td>
                        @foreach (var item in Model)
                        {
                            <li>
                                @Html.ActionLink(item.AssecName, "Browse", new { id = item.AssecID })
                            </li>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>